{% extends 'base.html' %}

{% block title %} Top Melons {% endblock%}

{% block content %}

<h1>Welcome, {{ user_name }}</h1>
<!-- Create a div for every Most Loved Melon using a Jinja for loop -->
{% for melons in MOST_LOVED_MELONS %}
    <div class='melon-div'>
        <h3>{{ user_name}}, this is a {{MOST_LOVED_MELONS[melons]['name']}}</h3>
        <img src={{MOST_LOVED_MELONS[melons]['img']}} class = "melon_pics">
        <h4>❤️ {{MOST_LOVED_MELONS[melons]['num_loves']}} likes</h4>
    </div>
{% endfor %}
    
{% endblock %}











